.nav-dropdown.nav-dropdown-default > li > a {
  border: none !important;
}
li.current-dropdown > .nav-dropdown-full,
li.has-dropdown:hover > .nav-dropdown-full {
  position: absolute !important;
  left: 97% !important;
  width: max-content;
}
.account-item.has-dropdown {
  position: relative !important;
}
.menu-item.has-dropdown {
  position: unset !important;
}
.account-item.has-dropdown:after {
  top: 30px !important;
}
.sub-menu.nav-dropdown {
  top: 33px;
}
.accordion-menu a {
  font-size: 14px;
}
.product .box-image img {
  object-fit: scale-down;
}
.is-outline {
  color: #6b9e69;
}
.accordion-menu .accordion-item.active .accordion-header a,
.accordion-menu .accordion-item .accordion-content ul li.active a {
  color: white;
  line-height: 1.2rem;
}
.accordion-menu .accordion-item.active .accordion-header,
.accordion-menu .accordion-item .accordion-content ul li.active {
  background-color: #6b9e69;
  line-height: 1.2rem;
}
.accordion-menu .accordion-item.active .accordion-icon {
  color: white;
}
.accordion-menu .accordion-item .accordion-header:hover,
.accordion-menu .accordion-item .accordion-content ul li:hover {
  background-color: #6b9e69;
  color: white;
}
.accordion-menu .accordion-item .accordion-header:hover a,
.accordion-menu .accordion-item .accordion-content ul li:hover a {
  color: white;
}
.woocommerce-variation-add-to-cart.variations_button.woocommerce-variation-add-to-cart-disabled {
  display: flex;
  align-items: center;
}
.single_add_to_cart_button {
  border-radius: 5px;
}
.add_to_enquiry_custom {
  color: white;
  text-transform: uppercase;
  font-weight: 600;
  padding: 7px 50px;
}
.add_to_enquiry_custom:hover {
  color: white;
  background-color: #6b9e6999;
}
.accordion-menu .accordion-item .accordion-header a,
.accordion-menu .accordion-item .accordion-content ul li {
  line-height: 1.2rem;
}
.wishlist-popup.dark {
  display: none;
}
.product-info {
  height: 100px;
}
.product-info .title-wrapper p a {
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 25px;
  line-clamp: 2;
  height: 48px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.in-stock {
  background: #7a9c59;
}
.image-tools.is-small.top.right.show-on-hover {
  padding-top: 0px;
}
